
<b>{{childData}}</b>
<b>Today date</b>: <span>{{displayDate}}</span>
<!-- <div>
    <input type="checkbox" [(ngModel)]="allowFlagData">
    <span style="font-size: 18px;">Allow</span>
</div>
<div>
    <input type="text" [(ngModel)]="parentObj.name">
</div>
<div>
    <input type="text" [(ngModel)]="parentObj.lastName">
</div> -->
<div>
    <input #searchRef type="text" class="form-control" [(ngModel)]="searchText" placeholder="Search by Username">
    <!-- <input type="text" [(ngModel)]="searchText" placeholder="Search by Username" (keyup.enter)="searchData()" (blur)="searchData()"> -->
</div>
<table class="table table-striped" style="font-size: 20px;">
    <th>Serial #</th>
    <th>User Name</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Phone Number</th>
    <th>Role</th>
    <th>Actions</th>
    <tbody>
        <tr *ngFor="let user of usersList | searchOnTable: searchText; let i=index">
            <td> {{i+1}}</td>
            <td> {{user.username | uppercase }}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.role}}</td>
            <td>
                <button (click)="onEdit(user.user_id)">Edit</button>
                <button (click)="onDelete(user)" [disabled]="validateDate(user.time)">Delete</button>
                <!-- <button (click)="onEdit(user.user_id)" *ngIf="getUserName === 'sandeep'">Edit</button>
                <button (click)="onDelete(user)" [disabled]="validateDate(user.time)" *ngIf="getUserName === 'sandeep'">Delete</button> -->
            </td>
        </tr>
    </tbody>
</table>

<app-user-advertisement #child [currentPage]="'users'" [allowFlag]="allowFlagData"  [parentObjDetails]="parentObj" (subscribeEvent)="onSubscribe($event)"></app-user-advertisement>
{{child.myName}}
<button (click)="child.onAlertMessage()">clickMe</button>