<form>
    <div class="form-group">
        <label for="exampleInputEmail1">User Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="createUserObj.username"
            [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter username">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="createUserObj.password"
            [ngModelOptions]="{standalone: true}" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2">First Name</label>
        <input type="text" class="form-control" id="exampleInputEmail2" [(ngModel)]="createUserObj.firstName"
            [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter FirstName">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail23">Lasr Name</label>
        <input type="text" class="form-control" id="exampleInputEmail23" [(ngModel)]="createUserObj.lastName"
            [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter LastName">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail35">Phone</label>
        <input type="tel" class="form-control" id="exampleInputEmail35" [(ngModel)]="createUserObj.phone"
            [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter Phone">
    </div>

    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Create</button>
</form>