<!-- <form>
  <div class="form-group">
    <label for="exampleInputEmail1">User Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="loginObj.userName"
      [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter userName">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="loginObj.password"
      [ngModelOptions]="{standalone: true}" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
</form> -->
<form class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <fieldset class="form-group position-relative has-icon-left">
      <input type="text" formControlName="userName" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.userName.errors }" id="user-name"
          placeholder="Your Username">
      <div *ngIf="submitted && f.userName.errors" class="invalid-feedback">
          <div *ngIf="f.userName.errors.required">Username is required</div>
          <div *ngIf="loginForm.controls['userName'].hasError('maxlength')">Username max length should be 5</div>
      </div>
  </fieldset>
  <fieldset class="form-group position-relative has-icon-left">
      <input type="password" placeholder="Enter Password"
          formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Password is required</div>
      </div>

  </fieldset>
  <button type="submit" class="btn btn-outline-info btn-block"> Login
  </button>
</form>