<ul>
    <li><a  class="active"  routerLink="/dashboard/home">Home</a></li>
    <li><a  routerLink="/dashboard/users">Users</a></li>
    <li *ngIf="getUserName === 'sandeep'"><a  routerLink="/dashboard/createUser">Create User</a></li>
  </ul>

  <div style="text-align: center; font-weight: bolder; font-size: 50px">
    <router-outlet></router-outlet>
  </div>