<div class="custom-css">
    <p [ngClass]="allowFlag ? 'bg-red' : ''">{{welcomeText}} - {{currentPage}}</p>
    <button (click)="onSubscriptionClick()" *ngIf="showSubscribeButton">Subscribe</button>
</div>

