<form>
    <div class="form-group">
        <label for="exampleInputEmail1">User Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" [(ngModel)]="updateUserObj.username"
            [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter username" disabled>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail2">First Name</label>
        <input type="text" class="form-control" id="exampleInputEmail2" [(ngModel)]="updateUserObj.firstName"
            [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter FirstName">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail23">Lasr Name</label>
        <input type="text" class="form-control" id="exampleInputEmail23" [(ngModel)]="updateUserObj.lastName"
            [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter LastName">
    </div>
    <div class="form-group">
        <label for="exampleInputEmail35">Phone</label>
        <input type="tel" class="form-control" id="exampleInputEmail35" [(ngModel)]="updateUserObj.phone"
            [ngModelOptions]="{standalone: true}" aria-describedby="emailHelp" placeholder="Enter Phone">
    </div>

    <button type="submit" class="btn btn-primary" (click)="onUpdate()">Update</button>
</form>